<h1>Задачи</h1>

</br>
<% @projects.each do |project| %>
	<h3><%= project.title.upcase %></h3>

	<ul>
	<% project.todos.each do |todo| %>
		<li>
			<input data-id=<%= todo.id %> type="checkbox" <%= todo.isCompleted ? 'checked' : '' %>/>
			<%= todo.text %>
		</li>
	<% end %>
	</ul>
<% end %>

<a href="#" id="show_form">+</a>

<%= form_for @todo, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <h2>Новая задача</h2>
  <%= f.text_field :text %>
  <%#= f.collection_select :project, Project.all, :id, :title %>
  <%= f.select :project_id, Project.all.collect {|c| [ c.title, c.id ] } %>
  <div>
	  <a href="#" onClick="javascript: event.preventDefault(); this.closest('form').style.display = 'none'; return void(0)">ОТМЕНА</a>
	  <a href="#" onClick="javascript: event.preventDefault(); this.closest('form').submit(); return void(0)">OK</a>
  </div>
<% end %>
