<h1>Задачи</h1>

</br>
<% @projects.each do |project| %>
	<h3><%= project.title.upcase %></h3>

	<ul>
	<% project.todos.each do |todo| %>
		<li><p><%= todo.text %></p></li>
	<% end %>
	</ul>
<% end %>

<h2>Новая задача</h2>

<%= form_for @todo, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <%= f.text_field :text %>
  <%#= f.collection_select :project, Project.all, :id, :title %>
  <%= f.select :project_id, Project.all.collect {|c| [ c.title, c.id ] } %>
  <%= f.submit "Создать" %>
<% end %>
