<div class="container">
  <!-- Example row of columns -->
  <div class="row">

  	<% @projects.each do |project| %>
	<div class="col-md-4">
	  <div class="well well-project">
	      <div class="well-project-title"><%= project.title.upcase %></div>
	      <div class="well-project-todo">
	      	<ul>
	      	<% project.todos.each do |todo| %>
				<li c>
					<input data-id=<%= todo.id %> type="checkbox" <%= todo.isCompleted ? 'checked' : '' %>/>
					<span><%= todo.text %></span>
				</li>
			<% end %>
			</ul>
		  </div>
	  </div>
    </div>
	<% end %>

  </div>
</div>

<div class="modal modal-add-todo">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-title">Новая задача</div>
    <%= form_for @todo, url: {action: "create"}, html: {class: "add-todo-form", "data-submited": (request.post? ? 1 : 0) } do |f| %>
	  <div>
	  	  <div class="form-group">
		  	<%= f.text_field :text, class: 'form-control', placeholder: 'Введите задачу' %>
		  	<% if @todo.errors.messages[:text].size > 0 %>
		  		<span class="field-error"><%= @todo.errors.messages[:text].first.capitalize %></span>
		  	<% end %>
		  </div>
		  <div class="form-group">
		  	<%= f.select :project_id, Project.all.collect {|c| [ c.title, c.id ] } %>
		  </div>
	  </div>

	  <div class="modal-actions">
		  <a class="btn btn-cancel" href="#" onclick="javascript: event.preventDefault(); Modal.close(); return void(0);">Отмена</a>
		  <button class="btn" type="submit">Ok</button>
	  </div>
	<% end %>


    </div>
  </div>
</div>
