<div class="container">
  <!-- Example row of columns -->
  <div class="row">

  	<% @projects.each do |project| %>
	<div class="col-md-4">
	  <div class="well well-project">
	      <div class="well-project-title"><%= project.title.upcase %></div>
	      <div class="well-project-todo">
	      	<ul>
	      	<% project.todos.each do |todo| %>
				<li>
					<input data-id=<%= todo.id %> type="checkbox" <%= todo.isCompleted ? 'checked' : '' %>/>
					<span><%= todo.text %></span>
				</li>
			<% end %>
			</ul>
		  </div>
	  </div>
    </div>
	<% end %>

  </div>
</div>

<%= form_for @todo, url: {action: "create"}, html: {class: "nifty_form", "data-submited": (request.post? ? 1 : 0) } do |f| %>
  <h2>Новая задача</h2>
  <%= f.text_field :text %>
  <%= @todo.errors.messages[:text].first if @todo.errors.messages[:text] %>
  <%#= f.collection_select :project, Project.all, :id, :title %>
  <%= f.select :project_id, Project.all.collect {|c| [ c.title, c.id ] } %>
  <div>
	  <a href="#" onClick="javascript: event.preventDefault(); this.closest('form').style.display = 'none'; return void(0)">ОТМЕНА</a>
	  <a href="#" onClick="javascript: event.preventDefault(); this.closest('form').submit(); return void(0)">OK</a>
  </div>
<% end %>
